{% extends 'base.html.twig' %}

{% block title %}Statistic{% endblock %}

{% block body %}
    <h1>All statistics</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Link Id</th>
                <th>UserAgent</th>
                <th>Ip</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
            <tr>
                <td>{{ statistic.link.id }}</td>
                <td>{{ statistic.userAgent }}</td>
                <td>{{ statistic.ip }}</td>
                <td>{{ statistic.createdAt ? statistic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ statistic.updatedAt ? statistic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
{#                <td>#}
{#                    <a href="{{ path('statistic_show', {'id': statistic.id}) }}">show</a>#}
{#                    <a href="{{ path('statistic_edit', {'id': statistic.id}) }}">edit</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('statistic_new') }}">Create new</a>#}
{% endblock %}
