{% extends 'base.html.twig' %}

{% block title %}Statistic{% endblock %}

{% block body %}
    <h1>Statistic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statistic.id }}</td>
            </tr>
            <tr>
                <th>UserAgent</th>
                <td>{{ statistic.userAgent }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ statistic.ip }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ statistic.createdAt ? statistic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ statistic.updatedAt ? statistic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statistic_index') }}">back to list</a>

    <a href="{{ path('statistic_edit', {'id': statistic.id}) }}">edit</a>

    {{ include('statistic/_delete_form.html.twig') }}
{% endblock %}
